.menu-button-container {
  cursor: pointer;
}

.menu-button {
  transition: 0.1s ease-in-out;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button-active {
  opacity: 1;
  filter: grayscale(0);
}

.menu-button-separator {
  border-bottom: 1.5px solid #444;
  border-top: 1.5px solid #222;
}

.menu-button-icon {
  width: 30px;
}
