.menu-button-container {
  cursor: pointer;
}

.menu-button {
  transition: 0.1s ease-in-out;
  opacity: 1;
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button-container:nth-child(-n+4) .menu-button {
  opacity: 0.4;
}

.menu-button-container:nth-child(n+8) .menu-button {
  opacity: 0.3;
}

.menu-button-container:nth-child(1) .menu-button {
  /*opacity: 0.2;*/
}

.menu-button-container:nth-child(2) .menu-button {
  /*opacity: 0.2;*/
}

.menu-button-container:nth-child(3) .menu-button {
  /*opacity: 0.2;*/
}

.menu-button-container:nth-last-child(-n+2) .menu-button {
  /*opacity: 0.2;*/
}

.menu-button-active {
  opacity: 1;
  filter: grayscale(0);
}

.menu-button-container:nth-child(-n+4) .menu-button-active,
.menu-button-container:nth-child(n+8) .menu-button-active {
  opacity: 1;
}

.menu-button-separator {
  border-bottom: 1px solid #444;
  border-top: 1px solid #222;
}

.menu-button-icon {
  width: 32px;
}
