.panel-container {
  height: 50%;
  box-sizing: border-box;
  padding: 15px;
  color: rgb(127, 127, 127);
}

.panel-container:last-child {
  border-top: none;
  border-bottom: none;
}

.panel-list {
  height: 100%;
  overflow-y: auto;
}

.panel-list .panel-empty {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.panel-title {
  margin-bottom: 15px;
}