.tabs-labels {
  display: flex;
  border-bottom: 1px solid dimgray;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
}

.tabs-labels div {
  padding: 10px 20px;
}

.tabs-labels a {
  color: darkgray;
  text-decoration: none;
}

.tabs-labels a {
  border-right: 1px solid dimgray;
}

.tabs-selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: darkorange;
}
