.list-item-container {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

.list-item-container:first-child {
  margin-top: 15px;
}

.list-item-container:last-child {
  margin-bottom: 15px;
}

.list-item-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list-item-selected {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid dimgray;
}

.list-item-name {
  margin-left: 10px;
}

.list-item-icon {
  opacity: 0;
  margin-left: 10px;
  transition: 0.1s ease-in-out;
}

.list-item-container:hover .list-item-icon {
  opacity: 1;
}

.list-item-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}