.list-item-container {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}

.list-item-container:first-child {
  margin-top: 15px;
}

.list-item-container:last-child {
  margin-bottom: 15px;
}

.list-item-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.list-item-selected {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid dimgray;
}

.list-item-name {
  margin-left: 10px;
}

.list-item-icon {
  margin-left: 10px;
}
