.synth-node-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.synth-node-panel-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.synth-node-panel-row-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.synth-node-panel-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
