.list-item-container {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}

.list-item-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.list-item-name {
  margin-left: 10px;
}
