.settings-container {
  position: absolute;
  width: 350px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid dimgray;
  border-right: none;
  padding: 40px;
  color: silver;
  font-size: 0.9em;
  right: -430px;
  top: 0;
  transition: .1s ease-in-out;
}

.settings-container label {
  margin-right: 10px;
}

.settings-container input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid dimgray;
  padding: 4px;
  outline: none;
  color: silver;
}
