.channel-container {
  width: 70px;
  min-width: 70px;
  height: 100%;
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.channel-container:last-child {
  border-right: 1px solid dimgray;
}

.channel-indicator {
  margin-bottom: 20px;
}

.channel-spacer {
  margin-bottom: 10px;
}
