.channel-container {
  width: 70px;
  min-width: 70px;
  height: 100%;
  min-height: 725px;
  border-top: 1px solid dimgray;
  border-left: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.channel-container:last-child {
  border-right: 1px solid dimgray;
}

.channel-indicator {
  margin-bottom: 20px;
  text-align: center;
}

.channel-spacer {
  margin-bottom: 15px;
}

.channel-buttons {
  padding: 5px;
  margin: 0 5px 20px;
  border: 1px solid #444;
}

.channel-fader-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.channel-volume-meter {
  width: 5px;
  height: 200px;
  background-color: #333;
}

.channel-fader-spacer {
  height: 235px;
}
