.fader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 20px;
  /*border: 1px solid rgba(127, 127, 127, 0.2);*/
  margin-top: 40px;
  padding: 10px;
}

.fader-container input {
  margin-bottom: 30px;
  width: 20px;
  text-align: center;
  border: 1px solid rgba(127, 127, 127, 0.5);
  background-color: transparent;
  color: rgba(127, 127, 127, 0.7);
  padding: 7px;
  outline: none;
  user-select: none;
}

.fader-container .rc-slider-rail {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(127, 127, 127, 0.5);
}

.fader-container .rc-slider-track {
  background-color: darkorange;
  opacity: 0.5;
  border: 1px solid rgba(127, 127, 127, 0.2);
}

.fader-container .rc-slider-vertical .rc-slider-handle,
.fader-container .rc-slider-vertical .rc-slider-handle:hover {
  width: 14px;
  height: 30px;
  border-radius: 3px;
  background-image: url('/backgrounds/fake_brick.png');
  border: 1px solid rgba(127, 127, 127, 0.2);
  box-shadow: 3px 3px 3px 0px rgba(7, 7, 7, 0.8);
  margin-bottom: -15px;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: difference;
}

.fader-container .rc-slider-dot {
  display: none;
}

.fader-container .rc-slider-mark-text {
  color: rgba(127, 127, 127, 0.7);
}
