.knob-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.knob-label {
  color: rgba(127, 127, 127, 0.7);
  margin-bottom: 5px;
  font-size: 0.8em;
  cursor: default;
}

.knob-outer {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(127, 127, 127, 0.35);
  border-radius: 50%;
  border: 1px dashed rgba(127, 127, 127, 0.2);
  display: flex;
  flex-direction: column;
}

.knob-dot {
  width: 43px;
  height: 43px;
  position: absolute;
  font-size: 1.5em;
  line-height: 1.9em;
  color: darkorange;
  opacity: 0.6;
  transform: rotate(300deg);
}


.knob-dial {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(127, 127, 127, 0.2);
  cursor: pointer;
  text-align: center;
  color: dimgray;
  font-size: 0.7em;
  vertical-align: middle;
  line-height: 2.5em;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  background-color: rgba(127, 127, 127, 0.1);
}
