.led-container {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.led-audio {
  border: 2px solid rgb(186, 85, 211);
  background-color: rgb(102, 51, 153);
}

.led-midi {
  border: 2px solid rgb(124, 252, 0);
  background-color: rgb(154, 205, 50);
}