.mixer-container {
  overflow-x: scroll;
  background-image: url(../../assets/backgrounds/concrete_wall.png);
}

.mixer-background {
  padding: 40px 0;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.mixer-inner-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  transition: 1s ease-in-out;
}
