.fx-panel-main-container {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid dimgray;
  display: flex;
  justify-content: center;
  height: 220px;
}

.fx-panel {
  width: 225px;
  height: 180px;
  padding-top: 15px;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

.fx-panel > div {
  margin-top: 5px;
}

.fx-panel-title {
  text-align: center;
  padding-top: 5px;
  background-color: #222;
  border: 1px solid #333;
  padding: 3px;
}

.fx-panel-knob-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fx-panel-border-left {
  border-left: 1px solid #333;
}

.fx-panel-border-right {
  border-right: 1px solid #333;
}