.fx-panel-main-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid dimgray;
  display: block;
  height: 220px;
  width: 100%;
  margin: -3px 0;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  text-align: center;
}

.fx-panel-item {
  display: inline-block;
  position: relative;
}

.fx-panel {
  width: 270px;
  height: 180px;
  padding-top: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.fx-panel > div {
  margin-top: 5px;
}

.fx-panel-full-height {
  height: 100%;
}

.fx-panel-centered {
  text-align: center;
}

.fx-panel-title {
  text-align: center;
  padding-top: 5px;
  background-color: #222;
  border: 1px solid #333;
  padding: 3px;
}

.fx-panel-knob-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fx-panel-border-left {
  border-left: 1px solid #333;
}

.fx-panel-border-right {
  border-right: 1px solid #333;
}

.fx-panel-info-icon {
  margin-left: 10px;
  color: dimgray;
  cursor: pointer;
}

.fx-panel-info {
  max-height: 100%;
  padding: 40px 20px; 
  position: relative;
  height: 100%;
  top: 17px;
  position: absolute;
  width: 100%;
  overflow: auto;
  white-space: normal;
  box-sizing: border-box;
  border: 1px solid #333;
  background-color: #222;
  z-index: 2;
}

.fx-panel-info i {
  float: right;
  color: darkorange;
  cursor: pointer;
  margin-top: -25px;
}

.fx-panel-info h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.fx-panel-info a {
  color: darkorange;
}

.fx-panel-align-top {
  align-items: flex-start;;
}