body {
  margin: 0;
  padding: 0;
  background-color: #444;
  font-family: sans-serif;
  font-size: 0.8em;
}

canvas {
  /*background-image: url('/backgrounds/footer_lodyas.png');*/
  /*background-image: url('/backgrounds/triangles.png');*/
  /*background-image: url('/backgrounds/hexabump.png');*/
  /*background-image: url('/backgrounds/cartographer.png');*/
  /*background-image: url('/backgrounds/tasky.png');*/
  /*background-image: url('/backgrounds/fake_brick.png');*/
  /*background-image: url('/backgrounds/black_scales.png');*/
  background-image: url(../public/backgrounds/inflicted.png);
  /*background-image: url('/backgrounds/crissXcross.png');*/
  /*background-image: url('/backgrounds/carbon_fibre_v2.png');*/
  /*background-image: url('/backgrounds/black_linen_v2.png');*/
}

.main-container {
  display: flex;
}