body {
  margin: 0;
  padding: 0;
  background-color: #444;
  font-family: sans-serif;
  font-size: 0.8em;
  user-select: none;
  color: darkgray;
}

input[type="text"],
input[type="number"],
select {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid dimgray;
  border-radius: 0;
  outline: 0;
  color: darkgray;
}

input {
  padding: 5px;
}

input:disabled {
  opacity: 0.5;
}

select:disabled {
  opacity: 0.5;
  color: rgba(127, 127, 127, 0.7);
}

label[disabled] {
  opacity: 0.5;
  color: rgba(127, 127, 127, 0.7);
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  background-color: #333;
  border: 1px solid dimgray;
  top: -1px;
  left: -1px;
  border-radius: 15px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  outline: 0;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked:after {
  background-color: #333;
  border: 1px solid darkorange;
  top: -1px;
  left: -1px;
}

canvas {
  background-image: url(../public/backgrounds/batthern.png);
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 34px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 34px 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 34px 5px rgba(0, 0, 0, 0.4);
}

.main-container {
  display: flex;
  background-image: url(../public/backgrounds/concrete_wall.png);
}

.main-container > div {
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;
}

.row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
