body {
  margin: 0;
  padding: 0;
  background-color: #444;
  font-family: sans-serif;
  font-size: 0.8em;
  user-select: none;
  color: gray;
}

select {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid dimgray;
  border-radius: 0;
  color: rgb(127, 127, 127);
  outline: 0;
}

select:disabled {
  background-color: #444;
}

input[type="radio"] {
  margin-bottom: 20px;
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  position: relative;
  background-color: #555;
  content: '';
  display: inline-block;
  visibility: visible;
  /*border: 1px solid dimgray;*/
  outline: 0;
  position: relative;
}

input[type="radio"]:checked:after {
  background-color: darkorange;
}

canvas {
  /*background-image: url('/backgrounds/footer_lodyas.png');*/
  /*background-image: url('/backgrounds/triangles.png');*/
  /*background-image: url('/backgrounds/hexabump.png');*/
  /*background-image: url('/backgrounds/cartographer.png');*/
  /*background-image: url('/backgrounds/tasky.png');*/
  /*background-image: url('/backgrounds/fake_brick.png');*/
  /*background-image: url('/backgrounds/black_scales.png');*/
  background-image: url(../public/backgrounds/inflicted.png);
  /*background-image: url('/backgrounds/crissXcross.png');*/
  /*background-image: url('/backgrounds/carbon_fibre_v2.png');*/
  /*background-image: url('/backgrounds/black_linen_v2.png');*/
}

.main-container {
  display: flex;
}