.oscillator-panel-container {
  width: 100px;
  border: 1px solid dimgray;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.oscillator-panel-label{
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}

.oscillator-panel-gain{
  margin-top: 30px;
}

.oscillator-panel-freq {
  margin-top: 20px;
}

.oscillator-panel-notes div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.oscillator-panel-notes div:last-child {
  margin-top: 5px;
}

.oscillator-panel-container[disabled] {
  border: 1px solid rgba(127, 127, 127, 0.3);
}

.oscillator-panel-container[disabled] .oscillator-panel-label {
  opacity: 0.5;
}

.oscillator-panel-container input[type=radio] {
  transition: 0.3s ease-in-out;
}

.oscillator-panel-container[disabled] input[type=radio] {
  opacity: 0.5;
}
