.synth-node-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.synth-node-panel-adsr-icon {
  margin: 5px 0 0 -3px;
  width: 30px;
}

.synth-node-panel-adsr-label {
  margin: 0 0 5px 2px;
  font-size: 0.8em;
}

.synth-node-panel-gain {
  margin-bottom: 0;
}

.synth-node-panel-pan {
  margin-bottom: 0;
  height: 40px;
}

.synth-node-panel-pan-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.synth-node-panel-pan-labels div {
  font-size: 0.8em;
  align-items: center;
}
