.file-button-container {
  width: 100%;
}

.file-button-container button {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: dimgray;
  font-size: 1em;
  border: 1px solid dimgray;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.file-button-container button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
}