.icon-button-container button {
  /*width: 100%;*/
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: dimgray;
  font-size: 1em;
  border: 1px solid dimgray;
  padding: 6px;
  color: deepskyblue;
  text-shadow: deepskyblue 0px 0px 10px;
}

.icon-button-container button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
}