.knob-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  transition: opacity 0.3s ease-in-out;
}

.knob-label {
  margin-top: 5px;
  cursor: default;
}

.knob-container[disabled] {
  opacity: 0.5;
}

.knob-outer {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(127, 127, 127, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.knob-dot {
  width: 43px;
  position: absolute;
  font-size: 2.5em;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  height: 43px;
  line-height: 80px;
}

.knob-container[disabled] .knob-dot {
  color: dimgray;
}


.knob-dial {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(127, 127, 127, 0.35);
  cursor: pointer;
  text-align: center;
  font-size: 0.9em;
  vertical-align: middle;
  line-height: 4.5em;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
