.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 19px;
}

.switch input {
  display:none;
}

.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid dimgray;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: dimgray;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .switch-slider:before {
  background-color: darkorange;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.switch-slider.switch-round {
  border-radius: 34px;
}

.switch-slider.switch-round:before {
  border-radius: 50%;
}