.tabs-labels {
  display: flex;
  border-bottom: 1px solid dimgray;
  background-color: rgba(0, 0, 0, 0.1);
}

.tabs-labels div {
  padding: 10px 18.8px;
}

.tabs-labels a {
  color: darkgray;
  text-decoration: none;
  border-right: 1px solid dimgray;
  width: fill;
  text-align: center;
  cursor: default;
}

.tabs-labels a:last-child {
  border-right: none;
}

.tabs-selected {
  background-color: rgba(0, 0, 0, 0.1);
  color: darkorange;
}
